.sidebar{ 
   
    left: 0;
    bottom: 0;
    top: 75px;
    position: fixed;
    background-color:white ;
    width:72px;
    margin-top:10px ;   
  }
  
  .sidebarlink{
      
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 75px;
    margin-bottom: 1px; 
   } 
  
   .sidebarlink:hover{
    background-color: rgb(197, 191, 191);
   }
  
   .img{
    width: 25px;   
   }
  
   .names{
    font-size:12px;
    margin-top:10px ;
   }
   
  